[submodule "addons/Wwise/native/godot-cpp"]
	path = addons/Wwise/native/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "addons/Wwise/tests/wwise-godot-demo-project"]
	path = addons/Wwise/tests/wwise-godot-demo-project
	url = https://github.com/alessandrofama/wwise-godot-demo-project.git
