---
BasedOnStyle: Microsoft
ColumnLimit: '120'
PointerAlignment: Left
ContinuationIndentWidth: 4
IndentWidth:     4
TabWidth:        4
UseTab:          Always
BreakBeforeBraces: Custom
BraceWrapping:
      AfterCaseLabel: true
...
